# --- Messenger Gateway Configuration ---
MESSENGER_GATEWAY_HTTP_ADDR=:3000
NATS_URL=nats://nats:4222
MESSENGER_GATEWAY_DESTINATIONS=line:line.events
MESSENGER_GATEWAY_DEFAULT_DESTINATION=line
MESSENGER_GATEWAY_REQUEST_TIMEOUT=5s
MESSENGER_GATEWAY_VIRTUAL_HOST=example.space
MESSENGER_LINE_WEBHOOK_VIRTUAL_HOST=line.example.space
LETSENCRYPT_EMAIL=admin@example.space
MESSENGER_LINE_WEBHOOK_LETSENCRYPT_EMAIL=admin@example.space
GHCR_USER=root

# --- Messenger LINE Services ---
MESSENGER_LINE_HTTP_ADDR=:8080
MESSENGER_LINE_EVENTS_SUBJECT=line.events
MESSENGER_LINE_PUSH_ENDPOINT=https://api.line.me/v2/bot/message/push
MESSENGER_LINE_CHANNEL_TOKEN=xxx
