services:
  nats:
    image: nats:2.10.11-alpine
    restart: unless-stopped
    networks:
      - backend

  messenger-ingress:
    image: ghcr.io/${GHCR_USER}/messenger-ingress:latest
    env_file:
      - ./env/shared.env
      - ${ENVIRONMENT_FILE:-./env/production.env}
    depends_on:
      - nats
    restart: unless-stopped
    networks:
      - backend

  messenger-line-webhook:
    image: ghcr.io/${GHCR_USER}/messenger-line-webhook:latest
    env_file:
      - ./env/shared.env
      - ${ENVIRONMENT_FILE:-./env/production.env}
    depends_on:
      - nats
    restart: unless-stopped
    networks:
      - backend

  messenger-line-worker:
    image: ghcr.io/${GHCR_USER}/messenger-line-worker:latest
    env_file:
      - ./env/shared.env
      - ${ENVIRONMENT_FILE:-./env/production.env}
    depends_on:
      - nats
    restart: unless-stopped
    networks:
      - backend

  messenger-discord-incoming-worker:
    image: ghcr.io/${GHCR_USER}/messenger-discord-incoming-worker:latest
    env_file:
      - ./env/shared.env
      - ${ENVIRONMENT_FILE:-./env/production.env}
    depends_on:
      - nats
    restart: unless-stopped
    networks:
      - backend

  auth-line:
    image: ghcr.io/${GHCR_USER}/auth-line:latest
    env_file:
      - ./env/shared.env
      - ${ENVIRONMENT_FILE:-./env/production.env}
    restart: unless-stopped
    networks:
      - backend

  auth-twitter:
    image: ghcr.io/${GHCR_USER}/auth-twitter:latest
    env_file:
      - ./env/shared.env
      - ${ENVIRONMENT_FILE:-./env/production.env}
    restart: unless-stopped
    networks:
      - backend

  upload-service:
    build:
      context: ./upload-service
      dockerfile: Dockerfile
    env_file:
      - ./env/shared.env
      - ${ENVIRONMENT_FILE:-./env/production.env}
    environment:
      - VIRTUAL_HOST=${UPLOAD_API_VIRTUAL_HOST}
      - VIRTUAL_PORT=8080
      - LETSENCRYPT_HOST=${UPLOAD_API_VIRTUAL_HOST}
      - LETSENCRYPT_EMAIL=${UPLOAD_API_LETSENCRYPT_EMAIL}
    restart: unless-stopped
    networks:
      - edge
      - backend

# コンテナやComposeスタックをup/downしてもネットワーク自体は消滅しないように外部ネットワークを使う設定(external: true) にしています。
# プロジェクト起動の際は以下のコマンドを実行してネットワークを生成させてください。
# docker network create --driver bridge infra-edge-network
# docker network create --driver bridge infra-backend-network 
networks:
  edge:
    external: true
    name: infra-edge-network
  backend:
    external: true
    name: infra-backend-network
